@use "../../global.scss";

.main {
	background-color: lighten($color: global.$base-color, $amount: 30);
	border-radius: 15px;
	padding: 0.5rem;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-width: 20rem;
	.children {
		height: 10rem;
		background-color: hsl(224, 48%, 20%);
		margin: 1rem;
		padding: 1rem;
		border-radius: 10px;
	}
}
